@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  padding: 0s;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  font-family: "Paytone One", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

/*------------------------------------*/
.header {
  background: rgb(13, 13, 14) url(../images/header/1.jpg) top right no-repeat;
  min-height: 760px;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  margin-bottom: 50px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 660px;
}
.header__item {
  margin-right: 36px;
}
.header__link {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #ffffff;
}
.header__btn {
  font-family: "Paytone One";
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  background: #d400b3;
  border: 2px solid #d400b3;
  border-radius: 1px;
  padding: 8px 35px;
  white-space: nowrap;
}
.header__text {
  font-size: 84px;
  line-height: 100px;
  letter-spacing: 1px;
  color: #ffffff;
  max-width: 660px;
  margin-bottom: 22px;
}
.header__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: #e5e5e5;
  letter-spacing: 1px;
  max-width: 640px;
  margin-bottom: 130px;
}
.header__video {
  margin-left: -14px;
  font-size: 32px;
  line-height: 44px;
  font-family: "Paytone One";
  letter-spacing: 1px;
  color: #ffffff;
  background: #262627;
  padding: 34px 200px;
  position: relative;
  z-index: 5;
}
.header__video::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgb(13, 13, 14);
}
.header__video::before {
  content: "";
  position: absolute;
  background: url(../images/header/btn.svg) no-repeat;
  width: 42px;
  height: 42px;
  right: 140px;
  top: 38px;
}

.main {
  background-color: #262627;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 160px 0;
}
.main__text {
  line-height: 32px;
  letter-spacing: 1px;
  color: #e5e5e5;
  max-width: 400px;
  margin-left: 30px;
}
.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
}
.main__item {
  margin-left: 30px;
}
.main__title {
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 800;
}
.main__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
}
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: main__box 30s linear infinite;
          animation: main__box 30s linear infinite;
  margin-bottom: 20px;
  max-width: 100%;
}
@-webkit-keyframes main__box {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes main__box {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.main__img {
  max-width: 420px;
  margin-right: 20px;
}
.main__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: main__box2 60s linear infinite;
          animation: main__box2 60s linear infinite;
  padding-bottom: 175px;
}
@-webkit-keyframes main__box2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes main__box2 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.trending {
  background: #0d0d0e;
}
.trending__top {
  padding: 175px 0;
}
.trending__top-title {
  font-size: 52px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.trending__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.trending__box {
  background: #262627;
  border: 1px solid rgba(229, 229, 229, 0.5);
  border-radius: 2px;
  min-width: 400px;
  height: 275px;
}
.trending__box-content {
  margin: 48px 0px 0px 18px;
}
.trending__box-img {
  margin-bottom: 25px;
}
.trending__box-title {
  text-align: left;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  margin-bottom: 10px;
}
.trending__box-subtitle {
  max-width: 305px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #e5e5e5;
}
.trending__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.trending__right {
  position: relative;
}
.trending__nft {
  margin-bottom: 96px;
}
.trending__title {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1px;
  font-weight: 600;
}
.trending__subtitle {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: rgba(229, 229, 229, 0.5607843137);
  max-width: 550px;
}
.trending__nft-name {
  font-size: 31px;
  line-height: 44px;
  letter-spacing: 1px;
  font-weight: 600;
}
.trending__nft-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.trending__nft-class {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgba(229, 229, 229, 0.7254901961);
}
.trending__nft-prise {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #d400b3;
}
.trending__link {
  position: absolute;
  right: 0;
  letter-spacing: 1px;
  color: #d400b3;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
}
.trending__link::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -3px;
  width: 18px;
  height: 18px;
  background: url(/images/NFT/Frame.svg);
}
.trending__artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 180px;
}
.trending__1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  background: #262627;
  min-height: 180px;
  margin: 0px 0px 0px 0px;
}
.trending__1-box {
  margin: 60px 0px 0px 180px;
}
.trending__links {
  position: relative;
  letter-spacing: 1px;
  color: #d400b3;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.trending__links::before {
  content: "";
  position: absolute;
  top: -28px;
  left: -3px;
  width: 18px;
  height: 18px;
  background: url(/images/NFT/Frame.svg);
}
.trending__sublink {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: rgba(229, 229, 229, 0.5215686275);
  max-width: 265px;
}
.trending__2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.trending__text {
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1px;
  text-align: center;
}