@import "_nullstyle";
@import "_varables";

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
    font-family: "Paytone One", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    color: #ffffff;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1360px;
    padding: 0 15px;
    margin: 0 auto;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

/*------------------------------------*/

.header {
    background: rgba(13, 13, 14, 1) url(../images/header/1.jpg) top right no-repeat;
    min-height: 760px;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        margin-bottom: 50px;
    }

    &__logo {
    }

    &__list {
        display: flex;
        align-items: center;
        margin-right: 660px;
    }

    &__item {
        margin-right: 36px;
    }

    &__link {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 20px;
        color: #ffffff;
    }

    &__btn {
        font-family: "Paytone One";
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
        color: #ffffff;
        background: #d400b3;
        border: 2px solid #d400b3;
        border-radius: 1px;
        padding: 8px 35px;
        white-space: nowrap;
    }

    &__bottom {
    }

    &__text {
        font-size: 84px;
        line-height: 100px;
        letter-spacing: 1px;
        color: #ffffff;
        max-width: 660px;
        margin-bottom: 22px;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 32px;
        color: #e5e5e5;
        letter-spacing: 1px;
        max-width: 640px;
        margin-bottom: 130px;
    }

    &__video {
        margin-left: -14px;
        font-size: 32px;
        line-height: 44px;
        font-family: "Paytone One";
        letter-spacing: 1px;
        color: #ffffff;
        background: #262627;
        padding: 34px 200px;
        position: relative;
        z-index: 5;
        &::after {
            content: "";
            position: absolute;
            width: 46px;
            height: 46px;
            top: 0;
            right: 0;
            z-index: 10;
            background-color: rgba(13, 13, 14, 1);
        }
        &::before {
            content: "";
            position: absolute;
            background: url(../images/header/btn.svg) no-repeat;
            width: 42px;
            height: 42px;
            right: 140px;
            top: 38px;
        }
    }
}
.main {
    background-color: #262627;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 160px 0;
    }

    &__text {
        line-height: 32px;
        letter-spacing: 1px;
        color: #e5e5e5;
        max-width: 400px;
        margin-left: 30px;
    }

    &__list {
        display: flex;
        align-items: center;
        margin-right: 100px;
    }

    &__item {
        margin-left: 30px;
    }

    &__title {
        font-size: 56px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 800;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 1px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: main__box 30s linear infinite;
        margin-bottom: 20px;
        max-width: 100%;
    }
    @keyframes main__box {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    &__img {
        max-width: 420px;
        margin-right: 20px;
    }

    &__box2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: main__box2 60s linear infinite;
        padding-bottom: 175px;
    }
    @keyframes main__box2 {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(100%);
        }
    }
}
.trending {
    background: #0d0d0e;
    &__top {
        padding: 175px 0;
    }

    &__top-title {
        font-size: 52px;
        line-height: 64px;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }

    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__box {
        background: #262627;
        border: 1px solid rgba(229, 229, 229, 0.5);
        border-radius: 2px;
        min-width: 400px;
        height: 275px;
    }

    &__box-content {
        margin: 48px 0px 0px 18px;
    }

    &__box-img {
        margin-bottom: 25px;
    }

    &__box-title {
        text-align: left;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    &__box-subtitle {
        max-width: 305px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1px;
        color: #e5e5e5;
    }

    &__bottom {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__left {
    }

    &__right {
        position: relative;
    }

    &__nft {
        margin-bottom: 96px;
    }

    &__title {
        font-size: 52px;
        line-height: 64px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    &__subtitle {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #e5e5e58f;
        max-width: 550px;
    }

    &__nft-name {
        font-size: 31px;
        line-height: 44px;
        letter-spacing: 1px;
        font-weight: 600;
    }

    &__nft-names {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &__nft-class {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        color: #e5e5e5b9;
    }

    &__nft-prise {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        color: #d400b3;
    }

    &__nft-img {
    }

    &__link {
        position: absolute;
        right: 0;
        letter-spacing: 1px;
        color: #d400b3;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: right;
        &::before {
            content: "";
            position: absolute;
            top: -24px;
            left: -3px;
            width: 18px;
            height: 18px;
            background: url(/images/NFT/Frame.svg);
        }
    }
    &__artist {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 180px;
    }

    &__1 {
        flex: 0 0 50%;
        background: #262627;
        min-height: 180px;
        margin: 0px 0px 0px 0px;
    }

    &__1-box {
        margin: 60px 0px 0px 180px;
    }

    &__links {
        position: relative;
        letter-spacing: 1px;
        color: #d400b3;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
        &::before {
            content: "";
            position: absolute;
            top: -28px;
            left: -3px;
            width: 18px;
            height: 18px;
            background: url(/images/NFT/Frame.svg);
        }
    }

    &__sublink {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        color: #e5e5e585;
        max-width: 265px;
    }

    &__2 {
        flex: 0 0 50%;
    }

    &__text {
        font-weight: 500;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: 1px;
        text-align: center;
    }
}
.artists {

    &__content {
    }

    &__box {
    }

    &__img {
    }

    &__name {
    }

    &__btn {
    }
}
